@using duyendang.Models
@model List<information>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout_DuyenDang.cshtml";
}

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table width="1220px" border="0" cellspacing="0" cellpadding="0" style="margin-top: 80px">
        <tr>
            <td height="45px" width="51px" style="background: transparent url(../../Images/box-left-top.png) no-repeat left;"></td>
            <td height="45px" style="background: transparent url(../../Images/box-center-top.png) repeat-x left;"></td>
            <td width="50px" height="45px" style="background: transparent url(../../Images/box-right-top.png) no-repeat left;"></td>
        </tr>
        <tr>
            <td width="51px" style="background: transparent url(../../Images/box-left.png) repeat-y left;"></td>
            <td style="background-color: #fff; padding-bottom: 50px;" align="left">

                <!-- BEGIN - NOI DUNG TRANG CHU -->
                <table border="0" cellpadding="0" cellspacing="0" width="1099px">
                    <tr>
                        <td align="left" width="712px">
                            <img src="@Url.Content("~/Images/" + @Model[0].image)" />
                        </td>
                        <td width="40px"></td>
                        <td align="left" style="vertical-align: top" width="347px">
                            <table border="0" cellpadding="0" cellspacing="0" width="347px">
                                <tr>
                                    <td style="padding-top: 30px">
                                        <img src="../../Images/book-t1.png" /> <span style="display: none">Photobook là gì?, photobook la gi</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 20px; line-height: 24px; padding-right: 20px" class="canhchu">
                                        <pre>@Model[0].description</pre>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <img style="margin: 20px 0px 20px 0px;" src="../../Images/hoavan-ngang-trang.jpg" />

                <table border="0" cellpadding="0" cellspacing="0" width="1099px">
                    <tr>
                        <td style="vertical-align: top; padding-left: 30px" width="669px">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img src="../../Images/need-photobook.png" /> <span style="display: none;">Khi nào cần photobook, khi nao can photobook, photobook dung khi nao</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 30px; line-height: 26px;" class="canhchu">
                                        <pre>@Model[1].description</pre>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="20px"></td>
                        <td width="410px">
                            <img src="@Url.Content("~/Images/" + @Model[1].image)" />
                        </td>
                    </tr>
                </table>

                <img style="margin: 20px 0px 20px 0px;" src="../../Images/hoavan-ngang-trang.jpg" />

                <table border="0" cellpadding="0" cellspacing="0" width="1099px">
                    <tr>
                        <td align="right" width="438px">
                            <img src="@Url.Content("~/Images/" + @Model[2].image)" />
                        </td>
                        <td width="40px"></td>
                        <td width="621px" align="left" class="canhchu" style="line-height: 26px; vertical-align: top; padding-right: 20px">
                            <img src="../../Images/book-t3.png" /> <span style="display:none;">Có bao nhiêu kiểm photobook?, co bao nhieu kieu photobook, cac kieu photobook</span>
                            <br /><br />
                            <pre>@Model[2].description</pre>
                        </td>
                    </tr>
                </table>

                <img style="margin: 20px 0px 20px 0px;" src="../../Images/hoavan-ngang-trang.jpg" />

                <table border="0" cellpadding="0" cellspacing="0" width="1099px">
                    <tr>
                        <td style="padding-left: 22px">
                            <img src="../../Images/book-t4.png" /> <span style="display: none">Giá cả thế nào? Gia ca lam photobook, photobook gia re</span>
                            <br /><br /><br />
                            <img src="../../Images/book-4.jpg" />
                        </td>
                    </tr>
                </table>

                <img style="margin: 40px 0px 40px 0px;" src="../../Images/hoavan-ngang-trang.jpg" />

                <table border="0" cellpadding="0" cellspacing="0" width="1099px">
                    <tr>
                        <td width="548px">
                            <img src="../../Images/book-5.jpg" /> <span style="display: none">Các chương trình khuyến mãi, cac chuong trinh khuyen mai, khuyen mai photobook</span>
                        </td>
                        <td style="padding-left: 30px; line-height: 26px;" class="canhchu">
                            <img src="../../Images/book-t5.png" />
                            <br /><br />
                            Khuyến mãi mùa cưới 2015:<br />
                            - Tặng 1 album mini 15x 5 khi in Photobook mở phẳng size 30x30
                            <br /><br />
                            Đặc biệt khi in size 30x30:<br />
                            - Tặng gói layout dàn trang trị giá 300.000đ<br />
                            (Áp dụng từ ngày 03.11.2015 - 31.12.2015)
                        </td>
                    </tr>
                </table>
                <!-- END - NOI DUNG TRANG CHU -->

            </td>
            <td width="50px" style="background: transparent url(../../Images/box-right.png) repeat-y left;"></td>
        </tr>
        <tr>
            <td width="51px" height="46px" style="background: transparent url(../../Images/box-left-bottom.png) no-repeat left;"></td>
            <td height="46px" style="background: transparent url(../../Images/box-center-bottom.png) repeat-x left;"></td>
            <td width="50px" height="46px" style="background: transparent url(../../Images/box-right-bottom.png) no-repeat left;"></td>
        </tr>
    </table>
</asp:Content>

