@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Images/logo.png" />
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="index.html">SB Admin v2.0</a> -->
                <img src="~/Images/logo.png" width="50" height="50" style="float: left" />
                <a class="navbar-brand title-admin">
                    Trang Quản Trị
                </a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Edit","Index")"><i class="fa fa-home"></i> Trang chủ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "PhotoBook")"><i class="fa fa-book"></i> Photobook</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Baby")"> <i class="fa fa-female"></i> Bé yêu</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "SignatureBook")"><i class="fa fa-pencil-square-o"></i> Sổ ký tên ngày cưới</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "ECard")"><i class="fa fa-envelope"></i> Thiệp cưới, thiệp mời</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "CardVisit")"><i class="fa fa-credit-card-alt"></i> Card Visit</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Manager", "Admin")"><i class="fa fa-refresh"></i> Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Index")"><i class="fa fa-reply"></i> Đến Trang chủ</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    </script>

</body>
</html>
